/* shared styles  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding:0 140px
}
section{
    margin: 60px 0;
}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .section-title{
    font-size: 2.88rem;
    font-weight: 700;
margin-bottom: 80px;  
}

.display-flex{
    display: flex;
}
.text-primary{
    color:#FEA301;
}
.text-secondary{
    color:#01ACFD;
}
.text-gray{
    color: #808080;
}

.text-purple{
    color: #8700FF;
}
.btn-primary{
    padding: 12px 47px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    /* width: 150px;
    height: 30px; */
    border: none;
   text-align: center;
}

/* hero banner styles  */
.banner-container{
    align-items: center;
    gap: 50px;

}
.banner-img{
    width: 100%;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;
}
.banner-description{
    font-size: 1.25rem;
    margin: 24px 0;
}

/* standard curriculum styles  */
.standard-curriculum{
    background-image: url('./assets/bg.png');
}

.curriculum-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28px;
}
.curriculum-card{
    text-align: center;
}
.curriculum-card-description{
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size: 1rem;
}

.read-more-btn{
    background-color: white;
    border: none;
    font-weight: 700;

}





/* media query for responsiveness  */
@media only screen and (max-width: 576px) {
    body{
        padding: 0 1rem;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }
    .banner-title{
        font-size: 2.2rem;
    }
    .banner-description{
        font-size: 0.88rem;
        font-weight:500;
    }
}